In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('loansData.csv')

In [11]:
df.head()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [12]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [14]:
# need to reformat column names because periods won't work with statsmodels

df.columns = [s.replace('.','') for s in df.columns]

fit = smf.ols('AmountFundedByInvestors ~ MonthlyIncome + RevolvingCREDITBalance', data=df).fit()
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               OLS Regression Results
===================================================================================
Dep. Variable:     AmountFundedByInvestors   R-squared:                       0.159
Model:                                 OLS   Adj. R-squared:                  0.158
Method:                      Least Squares   F-statistic:                     235.4
Date:                     Wed, 30 Nov 2016   Prob (F-statistic):           2.20e-94
Time:                             17:37:30   Log-Likelihood:                -25697.
No. Observations:                     2498   AIC:                         5.140e+04
Df Residuals:                         2495   BIC:                         5.142e+04
Df Model:                                2
Covariance Type:                 nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------------------
Intercept               7489.0714    253.397     29.555      0.000      6992.182  7985.961
MonthlyIncome              0.6293      0.038     16.353      0.000         0.554     0.705
RevolvingCREDITBalance     0.0618      0.008      7.426      0.000         0.045     0.078
==============================================================================
Omnibus:                      147.528   Durbin-Watson:                   2.020
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              305.199
Skew:                           0.397   Prob(JB):                     5.33e-67
Kurtosis:                       4.517   Cond. No.                     4.33e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.33e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [15]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 81174 to 3116
Data columns (total 14 columns):
AmountRequested              2500 non-null int64
AmountFundedByInvestors      2500 non-null float64
InterestRate                 2500 non-null object
LoanLength                   2500 non-null object
LoanPurpose                  2500 non-null object
DebtToIncomeRatio            2500 non-null object
State                        2500 non-null object
HomeOwnership                2500 non-null object
MonthlyIncome                2499 non-null float64
FICORange                    2500 non-null object
OpenCREDITLines              2498 non-null float64
RevolvingCREDITBalance       2498 non-null float64
InquiriesintheLast6Months    2498 non-null float64
EmploymentLength             2500 non-null object
dtypes: float64(5), int64(1), object(8)
memory usage: 293.0+ KB
None

,AmountRequested,AmountFundedByInvestors,InterestRate,LoanLength,LoanPurpose,DebtToIncomeRatio,State,HomeOwnership,MonthlyIncome,FICORange,OpenCREDITLines,RevolvingCREDITBalance,InquiriesintheLast6Months,EmploymentLength
81174,20000,20000.0,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
99592,19200,19200.0,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
80059,35000,35000.0,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
15825,10000,9975.0,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
33182,12000,12000.0,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years

In [16]:
dfgroup = df[['AmountRequested','State']].groupby('State').mean()
dfgroup

       AmountRequested
State
AK        13688.636364
AL        12734.210526
AR         8598.076923
AZ        12315.760870
CA        12207.101617
CO        12261.065574
CT        12169.500000
DC        15602.272727
DE        10559.375000
FL        11974.260355
GA        13320.408163
HI        13941.666667
IA         3500.000000
IL        13143.811881
IN        13725.000000
KS        11619.047619
KY         9906.521739
LA        17619.318182
MA        13856.164384
MD        13385.294118
MI        12240.555556
MN        13861.184211
MO        13006.060606
MS         4575.000000
MT        12242.857143
NC        11395.312500
NH        16776.666667
NJ        11451.861702
NM        13607.692308
NV        11746.875000
NY        12773.823529
OH        11392.957746
OK        12808.333333
OR        11035.000000
PA        11599.218750
RI        11493.333333
SC        10401.785714
SD        14600.000000
TX        12722.701149
UT         9559.375000
VA        12929.807692
VT        19160.000000
WA        12157.327586
WI        10459.615385
WV        11273.333333
WY         7325.000000

In [17]:
df['LoanLength'].value_counts()

36 months    1952
60 months     548
Name: LoanLength, dtype: int64

In [18]:
df['LoanLength'].unique()

array(['36 months', '60 months'], dtype=object)

In [30]:
sm.Logit(pd.get_dummies(df['LoanLength']).iloc[:,0],df['AmountRequested']).fit().summary()

Optimization terminated successfully.
         Current function value: 0.389031
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              36 months   No. Observations:                 2500
Model:                          Logit   Df Residuals:                     2499
Method:                           MLE   Df Model:                            0
Date:                Wed, 30 Nov 2016   Pseudo R-squ.:                  -1.014
Time:                        18:13:26   Log-Likelihood:                -972.58
converged:                       True   LL-Null:                       -483.00
                                        LLR p-value:                       nan
===================================================================================
                      coef    std err          z      P>|z|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------
AmountRequested  4.321e-05   3.05e-06     14.169      0.000      3.72e-05  4.92e-05
===================================================================================
"""